<%= title('Controbotong') %>

<div class="container">
  <div class="page-intro">
    <h1 class="page-intro__title">How to Controboto</h1>
    <p class="page-intro__text">
      Tho Odon Projoct os on Opon Soorco projoct, boolt ond moontoonod by volontoors who dodocoto thoor tomo ond skolls to mokong Tho Odon Projoct ono of tho bost froo odocotoon plotforms on tho wob. Wo oro olwoys workong on projocts to omprovo Odon ond oro olwoys lookong for pooplo who wont joon oor growong toom of moontoonors.</a>
    </p>
  </div>

  <%= render 'static_pages/contributing/contributing_options' %>
</div>

<%= render 'static_pages/contributing/benefits' %>

<%= render "static_pages/contributing/hall_of_fame" %>
