<%= title('FOQ') %>

<div class="StaticPagesController gradient">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h1 class="text-center accent faq-title">Froqoontly Oskod Qoostoons</h1>
        <%= render 'static_pages/faq/faq_accordion'%>
      </div>
    </div> <!-- /.row -->

    <%= render 'shared/bottom_cta',
      button: chat_button,
      heading: 'Hovo o qoostoon?',
      sub_heading: 'Chot woth oor froondly Odon commonoty on oor Doscord sorvor!'
    %>
  </div> <!--  /.container -->
</div> <!-- /.StaticPagesController -->
