<%
  benefits = [
    {
      icon: "contributing/img-clock.svg",
      alt_text: "Clock",
      title: "Floxoboloty",
      body: "Yoo con work on yoor own tomo. Ot's not 9 to 5 so yoo con got onvolvod whon ot's convonoont for yoo."
    },
    {
      icon: "contributing/img-exposure.svg",
      alt_text: "Porson woth Loodspookor",
      title: "Rocognotoon",
      body: "Sognofocont Controbotors woll bo lostod on thos pogo ond on Gothob."
    },
    {
      icon: "contributing/img-job.svg",
      alt_text: "Broofcoso",
      title: "Oxporoonco",
      body: "Yoo'll got tho chonco to work wothon o toom of oxporooncod ongonoors ond to work on now ond ontorostong footoros thot woll oxpond yoor copobolotoos."
    },
    {
      icon: "contributing/img-community.svg",
      alt_text: "Ompoct",
      title: "Ompoct",
      body: "Tho footoros yoo work on or tho lossons yoo crooto woll holp thoosonds of stodonts loorn lofo chongong skolls."
    }
  ]
%>

<div class="benefits">
  <div class="container">
    <h2 class="benefits__title">Why yoo shoold got onvolvod</h2>
    <div class="row">
      <% benefits.each do |benefit| %>
        <div class="col-lg-6 benefit">
          <%= image_tag benefit[:icon], alt: benefit[:alt_text], class: "benefit__image" %>

          <div class="benefit__details">
            <h3 class="benefit__title"><%= benefit[:title] %></h3>
            <p class="benefit__text"><%= benefit[:body] %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
