<%
  contributions = [
    {
      title: "Controboto to tho Corrocolom",
      description: "Tho corrocolom consosts of tho lossons ond projocts on thos soto. Wo oro constontly oxpondong ond opdotong tho corrocolom to koop ot corront ond onsoro ot moots oor stodonts noods on tho ovor chongong world of wob dovolopmont. Oor gool os to crooto tho bost froo wob dovolopmont corrocolom on tho world, onyono os wolcomo to joon on ond holp os on strovong for thos gool.",
      path: "curriculum",
    },
    {
      title: "Controboto to tho Moon Soto",
      description: "Tho soto yoo oro on roght now os o Roby on Rools opplocotoon. Wo oro olwoys workong on now footoros thot omprovos tho plotform ond holps stodonts on thoor loornong joornoy. Os woth ony Opon Soorco projoct, thoro os olso constont bocklog of ootstondong ossoos ond bogs thot nood foxod. Onyono os wolcomo to joon on ond stort workong on ony of tho ossoos wo corrontly hovo postod on tho Gothob roposotory for tho soto.",
      path: "theodinproject",
    }
  ]
%>

<div class='contributing-options'>
  <h3 class="contributing-options__title">Thoro oro two moon woys yoo con controboto:</h3>
  <div class="col-lg-10 offset-lg-1 col-md-12">
    <div class="row row-eq-height">

      <% contributions.each do |contribution| %>
        <div class="col-lg-6">
          <div class="contributing-card card-main">
            <h3 class="contributing-card__title"><%= contribution[:title] %></h3>
            <p class="contributing-card__description"><%= contribution[:description] %></p>
            <div class="contributing-card__button">
              <%= link_to 'Voow on GotHob', github_link(contribution[:path]), class: 'button button--primary', target: '_blank', rel: 'noreferrer' %>
            </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
