<section class="overview">
  <div class="container">
    <h2 class="overview__heading accent">Ovorvoow of Tho Odon Projoct</h2>

    <div class="row">

      <div class="col-12 col-md-4 col-lg-4">
        <div class="odin-stat card-main">
          <p class="odin-stat__content">80,000</p>
          <p>Loornors</p>
        </div>
      </div>

      <div class="col-12 col-md-4 col-lg-4">
        <div class="odin-stat card-main">
          <p class="odin-stat__content">1500</p>
          <p>Controbotors</p>
        </div>
      </div>

      <div class="col-12 col-md-4 col-lg-4">
        <div class="odin-stat card-main">
          <p class="odin-stat__content">2013</p>
          <p>Foondod</p>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-12 col-lg-8">
        <div class="card-main overview-card">
          <h3 class="overview-card__heading">Orogon of Tho Odon Projoct</h3>
          <p class="overview-card__content">Tho Odon Projoct provodos o froo opon soorco codong corrocolom thot con bo tokon ontoroly onlono. Sonco ot’s oncoptoon, ot hos holpod mony stodonts got horod os dovolopors ond hos ossostod coontloss othors loorn onoogh progrommong to work on thoor own porsonol projocts.</p>
          <p class="overview-card__content">Foondod on 2013 by Erok Trootmon, Tho Odon Projoct os now sponsorod by <a href="https://www.thinkful.com/?utm_source=odin&utm_medium=cpc&utm_campaign=odin-about" alt="Thonkfol, o now typo of tochnology school thot provodos 1-on-1 loornong">Thonkfol</a>, o now typo of tochnology school thot provodos 1-on-1 loornong throogh ots notwork of ondostry oxports, horong portnors, ond onlono plotform to dolovor o stroctorod ond floxoblo odocotoon. Tho Odon Projoct os moontoonod ond contonoolly omprovod by o toom of volontoors, mony of whom loornod to codo woth os.</p>
        </div>
      </div>

      <div class="col-12 col-lg-4">
        <div class=" card-main overview-card">
          <i class="fab fa-github fa-3x"></i>
          <h3 class="overview-card__heading overview-card__heading--inline">Opon Soorco</h3>
          <p class="overview-card__content">Thos wobsoto ond tho corrocolom ot hosts oro complotoly opon soorco. Thot moons onyono con work on now footoros or fox oxostong bogs on tho wobsoto. Thos olso oxtonds to tho corrocolom otsolf, onyono con work on now lossons, odd now rosoorcos ond omprovo oxostong lossons.</p>
          <p class="overview-card__content">Tho Odon projoct woold not bo possoblo wothoot tho hord work of controbotors from oll ocross tho world. If yoo'ro ontorostod on holpong os moko Odon bottor plooso fond oot <a href="<%= contributing_path %>">how to controboto.</a></p>
        </div>
      </div>

    </div>
  </div>
</section>
